:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}



*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  font-family: var(--font-default);
  font-size: 18px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}



/* Main nav, logo on left and navigation on right */
.topnav {
  overflow: hidden;
  margin: 3.5% 4% 3.5% 4%;
}

/* Site logo */
.header-logo {
    float: left;
}

/* Main navigation */
.main-navbar {
    float: right;
}

/* Navigation links */
.topnav a {
  display: block;
  float: left;
  margin: 5px;
  padding: 12px 12px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

/* Styles on links hover and active class */
.topnav a:hover {
  border-radius: 15px;
  color: #ffffff;
  background-color: #FE142F;
}

.topnav a.active {
  border-radius: 15px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  color: #ffffff;
  background-color: #FE142F;
}

.topnav .icon {
  display: none;
  color: #ff0000;
}



/* Main section */
main {
  margin: 1px 20px 15px;
  padding-top: 0.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 2rem;
  font-size: 130%;
  font-weight: bolder;
  text-align: justify;
  color: black;
}



/* Modal form */
.button {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background: #fe142f;
}

.button:hover {
  background: #3876ac;
}



/* Style of background form */
.bground {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  display: flex;
  width: 100%;
  max-width: 500px;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  padding-top: 10px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

/* Icon X for close the modal */
.close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  content: " ";
  width: 3px;
  height: 33px;
  position: absolute;
  left: 15px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  display: inline-block;
  margin-bottom: 11px;
  font-size: 17px;
  font-weight: normal;
  font-family: var(--font-default);
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
}

.formData[data-error]::after {
  content: attr(data-error);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  transition: 0.3s;
  font-size: 0.4em;
  text-align: right;
  line-height: 0.3;
  color: #e54858;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1px;
  left: -30px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  background-color: #279e7a;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}



/* Button submit the form in the modal */
.btn-submit,
.btn-signup {
  display: block;
  margin: 0 auto;
  padding: 12px 82px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  background: #fe142f;
}

/* Button sign up on hover open the modal form */
.btn-signup:hover {
  background: #3876ac;
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}



/* Styles for Main section with main title and description on left, and image on right */
.hero-section {
  display: grid;
  min-height: 93vh;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero-content {
  position: relative;
  padding: 51px 67px;
  grid-column: span 4;
  text-align: left;
  color: #fff;
  background: #232323;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -80px;
  background: #232323;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: bold;
  white-space: nowrap;
}

.hero-text {
  width: 146%;
  margin-top: 57px;
  padding: 0;
  font-weight: normal;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.hero-section > .btn-signup {
  display: none;
}



/* Button of registration */
.btn-signup {
  margin: 59px 0 0 0;
  padding: 15px 23px;
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.error-input  {
  border: 2px solid #FF4E60;
}

.correct-input {
  border: 2px solid #279e7a;
}

.form-error-text {
  font-size: .62em;
  color: #FF4E60;
  margin-top: 5px;
}

.message-confirmation {
  display: none;
  margin-bottom: 28px;
  font-size: 1.6em;
  text-align: center;
}

.btn-close {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 28px;
  padding: 12px 82px;
}



.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

.copyrights {
  /* margin: 60px 0 30px -70px; */
  padding: 0;
  font-size: 1rem;
  font-weight: bolder;
  color: #fe142f;
}



/* Aanimations and responsive */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {

  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .header-logo {
    margin-left: 8px;
  }
  
}

@media screen and (max-width: 768px) {

  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 1.6em;
    padding: 7px 12px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6em;
    padding: 7px 12px;
  }

  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }

  .header-logo {
    margin-left: 8px;
  }

  .header-logo img {
    width: 200px;
    margin-top: 12px;
  }

}

@media screen and (max-width: 800px) {

  .header-logo {
    margin-left: 8px;
  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px 20px 20px 0;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }

  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    margin-left: 0;
    text-align: center;
  }

}